/* ChatBubble.css */

/* Estilos para la burbuja de chat con el logo de WhatsApp */
.chat-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 9999;
  }
  
  .chat-bubble img {
    width: 40px; /* Tamaño del logo */
    height: 40px;
  }
  
  /* Estilos para el mini chat */
  .chat-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 250px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 10000;
  }
  
  .chat-container h3 {
    margin: 0;
    font-size: 10px;
    margin-bottom: 10px;
  }
  
  .chat-container textarea {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: none;
  }
  
  .send-button {
    background-color: #0bc555; /* Color de WhatsApp */
    color: rgb(83, 81, 81);
    padding: 5px 10px;
    border: none;
    border-radius: 2%;
    cursor: pointer;
    width: 50%;
  }
  
  .send-button:hover {
    background-color: #128C7E;
  }
  